listen=YES
local_enable=YES
anonymous_enable={{ enable_anonym }}
anon_upload_enable={{ enable_anonym }}
anon_mkdir_write_enable={{ enable_anonym }}
write_enable=YES
anon_root={{ anon_folder }}
pasv_min_port={{ min_port }}
pasv_max_port={{ max_port }}